body {
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
}
section {
  border: 1px solid #333;
  padding: 0 16px;
}
h1 {
  font-size: 24pt;
}
h3 {
  margin-top: 32px;
}
p {
  margin: .6em;
}
a {
  color: pink;
  text-decoration: none;
}
h2 a {
  color: lightblue;
  text-decoration: none;
}
strong {
  color: lightgreen;
}
#content {
  margin: 64px auto;
  width: 720px;
  line-height: 1.4em;
  color: #ccc;
}
.squote {
  color: lightgreen;
}
.lips {
  color: yellow;
}
.apple {
  color: lightblue;
}
.eyes {
  color: white;
}
.mac {
  color: yellow;
}
#header {
  border-bottom: 1px solid #3c3c3c;
  margin-bottom: 16px;
}
#copyright {
  margin-top: 32px;
  font-size: 8pt;
  border-top: 1px solid #3c3c3c;
  color: #555;
}
